<div id="workout-preview" class="fade-in">
    <div id="preview-header">
        <h2></h2>
    </div>
    <div id ="exercises">
        <div class="exercise">
            <h5>exercise 1</h5>
            <img src="">
            <h3>2</h3>
            <p>reps</p>
            <button class="explain"></button>
            <p class="explanation hidden"></p>
        </div>
        <div class="exercise">
            <h5>exercise 2</h5>
            <img src="">
            <h3>3</h3>
            <p>reps</p>
            <button class="explain"></button>
            <p class="explanation hidden"></p>
        </div>
        <div class="exercise">
            <h5>exercise 3</h5>
            <img src="">
            <h3>4</h3>
            <p>reps</p>
            <button class="explain"></button>
            <p class="explanation hidden"></p>
        </div>
        <div class="exercise">
            <h5>exercise 4</h5>
            <img src="">
            <h3>2</h3>
            <p>reps</p>
            <button class="explain"></button>
            <p class="explanation hidden"></p>
        </div>
        <div class="exercise">
            <h5>exercise 5</h5>
            <img src="">
            <h3>100</h3>
            <p>reps</p>
            <button class="explain"></button>
            <p class="explanation hidden"></p>
        </div>
        <div id="run-div">
            <h5>1/2 mile run</h5>
            <h3>8 minutes</h3>
        </div>
        <div id="walk-div">
            <h5>1 mile walk</h5>
            <h3>21 minutes</h3>
        </div>
    </div>
    <div id="last-selection">
        <input type="radio" id="exercise-five" name="last-exercise" checked="checked">
        <label for="exercise-five">exercise 5</label>
        <input type="radio" id="run" name="last-exercise">
        <label for="run">run</label>
        <input type="radio" id="walk" name="last-exercise">
        <label for="walk">walk</label>
    </div>
    <div>
        <button id="cancel">cancel</button>
        <button id="start">start</button>
    </div>
</div>