<div id="workout-preview" class="fade-in">
    <div id="preview-header">
        <h2>chart 1 level D-</h2>
    </div>

    <div id ="exercises">
        <div class="exercise">
            <h5>exercise 1</h5>
            <img src="">
            <p class="reps">reps</p>
            <h3></h3>
            <button class="explain"></button>
            <p class="explanation hidden"></p>
        </div>
        <div class="exercise">
            <h5>exercise 2</h5>
            <img src="">
            <p class="reps">reps</p>
            <h3></h3>
            <button class="explain"></button>
            <p class="explanation hidden"></p>
        </div>
        <div class="exercise">
            <h5>exercise 3</h5>
            <img src="">
            <p class="reps">reps</p>
            <h3></h3>
            <button class="explain"></button>
            <p class="explanation hidden"></p>
        </div>
        <div class="exercise">
            <h5>exercise 4</h5>
            <img src="">
            <p class="reps">reps</p>
            <h3></h3>
            <button class="explain"></button>
            <p class="explanation hidden"></p>
        </div>
        <div id="divider">
            <h4>select one</h4>
            <hr>

            <div class="exercise selection highlighted" data-label="exercise">
                <h5>exercise 5</h5>
                <img src="">
                <p class="reps">reps</p>
                <h3></h3>
                <button class="explain"></button>
                <p class="explanation hidden"></p>
            </div>
            <div id="run-div" data-label="run" class="selection">
                <h5></h5>
                <h3></h3>
            </div>
            <div id="walk-div" data-label="walk" class="selection">
                <h5></h5>
                <h3></h3>
            </div>
        </div>
    </div>

    <div id="submit-buttons">
        <button id="cancel"><h5>cancel</h5></button>
        <button id="start"><h5>start</h5></button>
    </div>
</div>